.bg { 
    background-image: url("../../../assets/19187709\ 1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.white{
font-family: 'Univers LT Std';
font-style: normal;
font-weight: 700;
font-size: 70px;
text-shadow: 0 0 3px #00532C;
line-height: 84px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.green{
    font-family: 'Univers LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    text-shadow: 0 0 3px #FFFFFF;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #00532C;
    }