.border-size{
    width: 1572px;
    height: 265px;
    border-radius: 30px;
}
.general{
   
    width: 1566px;
    height: 259px;

    border-radius: 30px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 39.3996px;
    color: #000000
    }

.eccezionale{
    position: absolute;
left: 23.76%;
right: 64.41%;
top: 67.93%;
bottom: 30.71%;


font-size: 35.2571px;
line-height: 41px;
display: flex;
align-items: center;
}

.rating{

position: absolute;
left: 59.57%;
right: 34.37%;
top: 65.59%;
bottom: 32.78%;


line-height: 46px;
display: flex;
align-items: center;
}
.descr{
    position: absolute;
    left: 17%;
    right: 17%;
    top: 59%;
    bottom: 35.89%;

font-weight: 700;

line-height: 45px;
display: flex;
align-items: center;
text-align: center;
}

.end{
  
    font-size: 27.0919px;
    line-height: 31px; 
}

#star-five-green {
    margin: 5px 0;
    position: relative;
    display: block;
    color: #1FB584;
    width: 0px;
    height: 0px;
    border-right: 12.5px solid transparent;
    border-bottom: 8.5px solid #1FB584;
    border-left: 12.5px solid transparent;
    transform: rotate(35deg);
  }
  #star-five-green:before {
    border-bottom: 10px solid #1FB584;
    border-left: 3.7px solid transparent;
    border-right: 3.7px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -5.7px;
    left: -8.1px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  #star-five-green:after {
    position: absolute;
    display: block;
    color: #1FB584;
    top: 0.35px;
    left: -13.1px;
    width: 0px;
    height: 0px;
    border-right: 12.5px solid transparent;
    border-bottom: 8.5px solid #1FB584;
    border-left: 12.5px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }


