<div class=" border-size myborder-gradient">
    <div class="general bg-white">
        <div> <b>Prezzogiusto.com</b> è al <b>1° posto</b> tra le migliori aziende nella categoria Sito di comparazione dei prezzi su Trustpilot </div>
        <div class="row">
            <div class="col-2">
                <div class="col-12"> <div> <div class="col-4"> <span  id="star-five-green"></span> <div class="col-8">Trustpilot</div></div></div>
                <div class="col-12"> Eccezionale</div></div>
            </div>
            <div class="col-5"></div>
            <div class="col-5 text-start">
                <div class="col-12 ">4.9/5</div>
                <div class="col-12 end">sulla base di oltre 10 mila recensioni </div>
            </div>
        </div>
    </div>
</div>















