<div class=" border-size myborder-gradient">
    <div class="general bg-white">
        <div> <b>Prezzogiusto.com</b> è al <b>1° posto</b> tra le migliori aziende nella categoria Sito di comparazione dei prezzi su Trustpilot </div>
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="row">
                    <div class="col-6 col-md-12">
                        <div class="row"> 
                            <div class="col-2"> <span  id="star-five-green"></span> </div>
                            <div class="col-10">Trustpilot</div>
                        </div>
                    </div>    
                    <div class="col-6 col-md-12"> Eccezionale</div>
                    
                </div>
            </div>
            <div class="col-12 col-md-5">
            
                <div class="square d-inline-block"> <div class="star-five-white"></div></div>
                <div class=" square d-inline-block "><div class="star-five-white"></div></div>
                <div class=" square d-inline-block"><div class="star-five-white"></div></div>
                <div class=" square d-inline-block"><div class="star-five-white"></div></div>
                <div class=" square d-inline-block"><div class="star-five-white"></div></div>
            </div>
            <div class="col-12 col-md-5 text-start">
                <div class="col-12 ">4.9/5</div>
                <div class="col-12 end">sulla base di oltre 10 mila recensioni </div>
            </div>
        </div>
    </div>
</div>















