.offer{
    font-family: 'Univers LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
}
.white{
   
    text-shadow: 0 0 3px #00532C;
    color: #FFFFFF;
    }
    
.green{
    text-shadow: 0 0 3px #FFFFFF;
    color: #00532C;
    }