<div class="myborder-gradient rounded-3">
    <div class="bg-white rounded-3 row ms-0 me-0 ">
        <div class="col-2 align-self-center"> <img src="../../../assets/tim_LOGO-2.svg" alt="" width="100%"></div>
        <div class="col-3 align-self-center"> <img src="../../../assets/vodafone_LOGO 2.png" alt="" width="100%"></div>
        <div class="col-3 align-self-center"> <img src="../../../assets/LogoPiatto_Giallo_NOpayoff_2021_RGB.png" alt="" width="100%"></div>
        <div class="col-2 mt-2 mb-2 align-self-center"> <img src="../../../assets/logo windtre 1.svg" alt="" width="100%"></div>
        <div class="col-2 align-self-center"> <img src="../../../assets/Eolo_logo 2.png" alt="" width="100%"></div>
    
    </div>
</div>
